@font-face {
  font-family: 'Poppins-Regular';
  src: url('../font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../font/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../font/Poppins-Light.ttf') format('truetype');
}
