<main class="app">
    <div class="app-container">
        <div class="app-header">
            <strong>&#64;angularis</strong>&nbsp;&nbsp;Component Library
            <!-- <fa-icon [icon]="faAppleAlt" [style]="{fontSize: '48px'}"></fa-icon> -->
        </div>
        <div class="app-content">
            <div class="app-sidebar">
                <ul class="app-sidebar-menu-items">
                    @for (item of menu(); track item.name)
                    {
                        <li class="app-sidebar-menu-item">
                            <strong>{{item.name}}</strong>
                        </li>
                        @for (route of item.menu; track route.name)
                        {
                        <li class="app-sidebar-menu-item">
                            <a [routerLink]="route.routerLink" [queryParams]="{ route: route | json }">
                                {{route.name}}
                            </a>
                        </li>
                        }
                        <br />
                    }
                </ul>
            </div>
            <div class="app-sidebar-content">
                <router-outlet />
            </div>
        </div>
        <div class="app-footer">
            Lernender Corp, LLC
        </div>
    </div>
</main>