<div
  class="ln-dropdown"
  tabindex="1"
  [ngClass]="{
  'darkTheme': darkTheme,
  'hidden': hidden,
  'disabled': disabled
}"
>
  <label class="ln-dropdown-label" [class.hidden]="label?.length === 0"
    >{{label}}</label
  >
  <div class="ln-dropdown-container">
    <div class="inner-container">
      <button
        #portalContainer
        class="button"
        [ngClass]="{
        'darkTheme' : darkTheme,
        'small': small,
        'readonly': items?.length === 0
      }"
        (keydown)="onKeyDown($event)"
        [attr.aria-label]="ariaLabel || null"
        [attr.aria-labelledby]="ariaLabelledby || null"
        [attr.aria-multiselectable]="false"
        (click)="onOpen($event)"
      >
        {{ displayItem?.[textField]}}
        <ln-icon
          class="icon"
          [name]="icon.name"
          (onClick)="onOpen($event)"
        ></ln-icon>
      </button>
    </div>
  </div>
</div>
<ng-template #portalView let-data>
  <ul
    class="ln-dropdown-items"
    [ngClass]="{
    'darkTheme' : darkTheme,
    'small': small
  }"
  >
    <li
      *ngFor="let item of items"
      class="ln-dropdown-item"
      [ngClass]="{
          'darkTheme' : darkTheme,
          'small': small,
          'hidden': item?.hidden,
          'disabled': item?.disabled,
          'active': item?.active
        }"
      (click)="onClose(item)"
      [title]="item[textField]"
    >
      {{ item[textField] }}
    </li>
  </ul>
</ng-template>
