@use 'scss/mixins/flexbox.scss' as *;
@use 'scss/mixins/standard.scss' as *;

$height: 32px;
$line-height: 28px;
$font-size: 14px;

:host {
  margin: 0;
  padding: 0;
  width: inherit;
  height: auto;
  outline: none;
  position: relative;
  background-color: var(--color-theme-default);
  color: var(--color-black);
  font-size: $font-size;
}

:host(.darkTheme) {
  margin: 0;
  padding: 0;
  width: inherit;
  height: auto;
  outline: none;
  position: relative;
  background-color: var(--color-theme-dark);
  color: var(--color-white);
}

::ng-deep {
  .cdk-overlay-container {
    display: block !important;
  }
}

.ln-dropdown {
  cursor: default;
  transition: all 0.5s ease;
  outline-color: transparent;
  outline-width: 0px;

  &.hidden {
    display: none;
  }

  &.disabled {
    @include disabled();
    pointer-events: none;
    opacity: 0.4;
  }

  &:focus {
    outline-color: transparent;
    outline-width: 0px;
  }

  .ln-dropdown-label {
    @include label();
    @include flexbox-row();
    justify-content: flex-start;
    text-align: left;

    &.hidden {
      display: none;
    }

    &.disabled {
      @include disabled();
      color: var(-color-disabled);
      &.hover {
        color: var(-color-disabled);
      }
    }
  }

  .ln-dropdown-container {
    width: 100%;

    div.inner-container {
      display: block;
      position: relative;
      width: 100%;

      button.button {
        @include user-select();
        position: relative;
        border: none;
        cursor: pointer;
        display: inline-block;
        height: $height;
        line-height: $line-height;
        margin: 0;
        outline: none;
        overflow: hidden;
        padding: 0 24px 0 8px;
        text-align: left;
        text-overflow: ellipsis;
        transition:
          color 0.15s ease-in-out,
          background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out;
        vertical-align: middle;
        white-space: nowrap;
        width: inherit;
        box-shadow: 0 0 2px 0 var(--color-box-shadow);
        -webkit-box-shadow: 0 0 2px 0 var(--color-box-shadow);
        background-color: transparent;
        border: 1px solid var(--color-border);
        width: inherit;

        &.disabled {
          @include disabled();
          pointer-events: none;
          color: var(-color-disabled);
          &.hover {
            color: var(-color-disabled);
          }
        }

        &.darkTheme {
          background-color: var(--color-theme-dark);
          color: var(--color-white);
          border: 1px solid var(--color-theme-dark-border);

          &.small {
            height: 30px;
            line-height: 30px;
            width: 100px;
          }   

          .readonly {
            pointer-events: none;
          }          
        }

        .icon {
          position: absolute;
          top: 0;
          right: 8px;
        }
      }
    }
  }
}

ul.ln-dropdown-items {
  -webkit-transition: 0.5s;
  border-radius: 0;
  margin: 0;
  min-width: 100px;
  max-width: inherit;
  width: 100%;
  max-height: calc((34px * 4) + 4px * 4);
  padding: 0;
  transition: 0.5s;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 0 2px 0 var(--color-box-shadow);
  -webkit-box-shadow: 0 0 2px 0 var(--color-box-shadow);  
  background-color: transparent;
  color: var(--color-black);


  &.open {
    display: block;
  }

  &.darkTheme {
    background-color: var(--color-theme-dark);
    color: var(--color-white);

    &.small {
      width: 100px;
    }
  }

  li.ln-dropdown-item {
    cursor: pointer;
    display: block;
    height: $height;
    line-height: $line-height;
    list-style-position: inside;
    border: 4px solid transparent;
    overflow: hidden;
    table-layout: fixed;
    text-align: left;
    text-overflow: ellipsis;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    padding: 0 4px;
    width: 100%;
    font-size: $font-size;

    &.disabled {
      pointer-events: none;
      color: var(-color-disabled);
      &.hover {
        color: var(-color-disabled);
      }
    }

    &:hover {
      background-color: var(--color-theme-light-gray);
      color: var(--color-black);
    }

    &.active {
      border-left: 4px solid var(--color-primary-accent);
      //border-radius: 4px;
    }  

    &.darkTheme {
      background-color: var(--color-theme-dark);
      color: var(--color-white);
  
      &:hover {
        background-color: var(--color-theme-dark-accent);
      }

      &.small {
        width: 100px;
      }
    }
  }
}