@use 'sass:string';
@use 'scss/mixins/standard.scss' as *;

.ln-icon {
  opacity: 1;

  .hidden {
    display: none;
  }

  i.fa-solid,
  i.fa-regular {
    font-family: var(--fa-font-solid) !important;
    font-style: normal;
    font-weight: 900;
    transition: background-color 0.5s ease;
    text-rendering: auto;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    cursor: pointer;

    &.disabled {
      @include disabled();
      pointer-events: none;
      opacity: 0.4;
    }

    &:hover {
      color: var(--color-primary-accent-hover);
    }

    &.active {
      color: var(--color-secondary);
    }

    &.blue {
      color: var(--color-blue);
    }

    &.green {
      color: var(--color-green);
    }

    &.red {
      color: var(--color-red);
    }

    &.hidden {
      display: none;
    }

    &.pad-left {
      padding-left: 8px;
    }

    &.pad-right {
      padding-right: 8px;
    }

    /*
    &.angle-up:before {
      content: string.unquote("\"\\#{'f106'}\"");
    }
    &.wide-angle-down:before {
      content: string.unquote("\"\\#{'f078'}\"");
    }
    &.wide-angle-up:before {
      content: string.unquote("\"\\#{'f077'}\"");
    }
    &.angle-down:before {
      content: string.unquote("\"\\#{'f107'}\"");
    }
    &.check:before {
      content: string.unquote("\"\\#{'f00c'}\"");
    }
    &.xmark:before {
      content: string.unquote("\"\\#{'f00d'}\"");
    }
    &.trashcan:before {
      content: string.unquote("\"\\#{'f2ed'}\"");
    }
    &.square-check:before {
      content: string.unquote("\"\\#{'f14a'}\"");
    }
    &.square-minus:before {
      content: string.unquote("\"\\#{'f146'}\"");
    }
    &.square:before {
      content: string.unquote("\"\\#{'f0c8'}\"");
    }
    &.success:before {
      content: string.unquote("\"\\#{'f164'}\"");
    }
    &.error:before {
      content: string.unquote("\"\\#{'21'}\"");
    }
    &.warning:before {
      content: string.unquote("\"\\#{'f071'}\"");
    }
    &.info:before {
      content: string.unquote("\"\\#{'f129'}\"");
    }
    &.circle-info:before {
      content: string.unquote("\"\\#{'f05a'}\"");
    }
    &.zoom-in:before {
      content: string.unquote("\"\\#{'f00e'}\"");
    }
    &.zoom-out:before {
      content: string.unquote("\"\\#{'f010'}\"");
    }
    &.lock:before {
      content: string.unquote("\"\\#{'f023'}\"");
    }
    &.lock-open:before {
      content: string.unquote("\"\\#{'f3c1'}\"");
    }
    &.tools:before {
      content: string.unquote("\"\\#{'f7d9'}\"");
    }
    &.stethoscope:before {
      content: string.unquote("\"\\#{'f0f1'}\"");
    }
    &.chevron-up:before {
      content: string.unquote("\"\\#{'f139'}\"");
    }
    &.chevron-down:before {
      content: string.unquote("\"\\#{'f13a'}\"");
    }
    */
  }
}
