<ln-canvas>
  <table class="table-standard">
    <thead>
      <tr>
        <th>class</th>
        <th>Control</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(default)</td>
        <td>
          <ag-hyperlink [model]="model()" (onClick)="handleOnClick($event)">
            @if (model().hasName()) {
            {{ model().name }}
            } @else {
            label()
            }
          </ag-hyperlink>
        </td>
      </tr>
      <tr>
        <td>class='button'</td>
        <td>
          <ag-hyperlink class="button" [model]="model()" (onClick)="handleOnClick($event)">
            @if (model().hasName()) {
            {{ model().name }}
            } @else {
            label()
            }
          </ag-hyperlink>
        </td>
      </tr>
    </tbody>
  </table>
</ln-canvas>