$breakpoints: (
  'small': 320px,
  'phone': 430px,
  'phone-wide': 480px,
  'desktop': 1280px,
  'desktop-wide': 1440px,
);

@mixin small {
  $width: map_get($breakpoints, 'small');
  @media only screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin phone {
  $width: map_get($breakpoints, 'phone');
  @media only screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin phone-wide {
  $width: map_get($breakpoints, 'phone-wide');
  @media only screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin desktop {
  $width: map_get($breakpoints, 'desktop');
  @media only screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin desktop-wide {
  $width: map_get($breakpoints, 'desktop-wide');
  @media only screen and (min-width: #{$width}) {
    @content;
  }
}
