:root {
  /*
    HEX Color Palette
  */
  --color-theme-hex-01: #6391BA;
  --color-theme-hex-02: #647B90;
  --color-theme-hex-03: #575F65;
  --color-theme-hex-04: #2D343B;
  --color-theme-hex-05: #1F2A33;
  --color-theme-hex-06: #162633;
  /*
    RGBA Color Palette
  */
  --color-theme-rgba-01: rgba(99,145,186, 1);
  --color-theme-rgba-02: rgba(100,123,144, 1);
  --color-theme-rgba-03: rgba(87,95,101, 1);
  --color-theme-rgba-04: rrgba(45,52,59, 1);
  --color-theme-rgba-05: rgba(31,42,51, 1);
  --color-theme-rgba-06: rgba(22,38,51, 1);
  /*
    HSLA Color Palette
  */
  --color-theme-hsla-01: hsla(208, 38, 55, 1);
  --color-theme-hsla-02: hsla(208, 18, 47, 1);
  --color-theme-hsla-03: hsla(205, 7, 36, 1);
  --color-theme-hsla-04: hsla(210, 13, 20, 1);
  --color-theme-hsla-05: hsla(207, 24, 16, 1);
  --color-theme-hsla-06: hsla(206, 39, 14, 1);

  /*
    HEX Color Definitions
  */
  --color-primary: var(--color-theme-hex-01);
  --color-primary-accent: var(--color-theme-hex-02);
  --color-secondary: var(--color-theme-hex-03);
  --color-secondary-accent: var(--color-theme-hex-04);
  --color-ternary: var(--color-theme-hex-05);
  --color-ternary-accent: var(--color-theme-hex-05);
  /*
    RGBA Color Definitions
  */
  --color-primary-rgba: var(--color-theme-rgba-01);
  --color-primary-accent-rgba: var(--color-theme-rgba-02);
  --color-secondary-rgba: var(--color-theme-rgba-03);
  --color-secondary-accent-rgba: var(--color-theme-rgba-04);
  --color-ternary-rgba: var(--color-theme-rgba-05);
  --color-ternary-accent-rgba: var(--color-theme-rgba-05);
  /*
    HSLA Color Definitions
  */
  --color-primary-hsla: var(--color-theme-hsla-01);
  --color-primary-accent-hsla: var(--color-theme-hsla-02);
  --color-secondary-hsla: var(--color-theme-hsla-03);
  --color-secondary-accent-hsla: var(--color-theme-hsla-04);
  --color-ternary-hsla: var(--color-theme-hsla-05);
  --color-ternary-accent-hsla: var(--color-theme-hsla-05);
  /*
    GrayShades
  */
  --color-gray-050: #FFFFFF;
  --color-gray-060: #FEFEFE;
  --color-gray-070: #FDFDFD;
  --color-gray-080: #FCFCFC;
  --color-gray-090: #FBFBFB;
  --color-gray-100: #F9F9F9;
  --color-gray-200: #F0F0F0;
  --color-gray-300: #E0E0E0;
  --color-gray-400: #CCCCCC;
  --color-gray-500: #B3B3B3;
  --color-gray-600: #999999;
  --color-gray-700: #7F7F7F;
  --color-gray-800: #666666;
  --color-gray-900: #4C4C4C;
  --color-gray-1000: #333333;

  /*
    pneumonic variables
  */  
  --color-background: var(--color-theme-rgba-01),
  --color-black: var(--color-gray-1000),
  --color-white: var(--color-gray-100),
  --color-border: var(--color-gray-300),
  --color-box-shadow: var(--color-gray-300),
  --color-text: var(--color-gray-100),
  --color-text-antithetical: var(--color-gray-1000),
  --color-disabled: var(--color-gray-500),

  --font-size: 1rem;
  --icon-font-size: 1.23rem;

  --padding: 0.5rem;
  --padding-horizontal: 0.25rem 0;
  --padding-vertical: 0 0.25rem;
  --radius: 0.25rem;

  --margin: 0.25rem;
  --margin-bottom: 0.25rem;
  --gap: 0.25rem;

  --h1: font-size: 2.5rem;
  --h2: font-size: 1.8rem;
  --h3: font-size: 1.3rem;
  --h4: font-size: 1rem;


  /*
    Font Awesome
  */  
  --fa-font-brands: 'Font Awesome Brands';
  --fa-font-regular: 'Font Awesome 6 Free';
  --fa-font-solid: 'Font Awesome 6 Free';
}
