:root {
  --color-primary: #5559FA;
  --color-prinmary-rgba:rgba(85, 89, 250, .15);
  --color-primary-accent: #6D9EFC;

  --color-secondary: #BC55FA;
  --color-secondary-accent: #8856FA;

  --color-ternary: #3C3FC3;
  --color-ternary-accent: #2c2eab;

  --color-blue: #0d6aff;
  --color-black: #070d1a;
  --color-white: #fff;
  --color-grey: #ddd;
  --color-red: #ff2d2d;
  --color-error: #ff2d2d;
  --color-green: #1aa82e;
  --color-success: #1aa82e;
  --color-info: #21759b;
  --color-warning: #e1e6ac;
  --color-danger: #e15151;
  --color-read-only: #212a43;

  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  //
  // Theme Colors
  //
  --color-theme-default: var(--color-gray-100);
  --color-theme-dark: var(--color-primary);
  --color-theme-dark-border: var(--color-gray-300);
  --color-theme-dark-accent: var(--color-primary-light);
  --color-theme-dark-gray: #979797;
  --color-theme-light-gray: #ddd;
  --color-theme-gray: #dcdcdc;

  //
  // pneumonic colors
  //
  --color-disabled: var(--color-theme-gray);
  --color-border: var(--color-gray-300);
  --color-box-shadow: rgba(27, 37, 50, 0.28);
  --color-text-highlight: #2e9aab;
  --scrollbar-background: #0d1427;
  --color-primary-background-lighter: #242a3b;

  --padding: 5px 42px;
  --radius: 6px;
  //
  // Font Awesome Free Fonts
  //
  --fa-font-brands: 'Font Awesome Brands';
  --fa-font-regular: 'Font Awesome 6 Free';
  --fa-font-solid: 'Font Awesome 6 Free';
  //
  // Not Supported with free version
  //
  --fa-font-regular: '';
  --fa-font-light: '';
  --fa-font-thin: '';
  --fa-font-sharp-solid: '';
  --fa-font-sharp-regular: '';
}

* {
  box-sizing: border-box;
  outline: none;
  caret-color: var(--color-white);
}

html {
  min-width: inherit !important;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='text'] {
  outline: none !important;
  outline-offset: inherit !important;
  &:focus {
    outline: none !important;
    outline-offset: inherit !important;
  }
}
