

.ln-canvas 
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;
  height: calc(100vh - 125px);
  overflow-y:auto;

  
  h1 {
    font-size: large;
  }

  .ln-canvas-header
  {
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-500);
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  .ln-canvas-content-wrapper
  {
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-400);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 10px;

    .ln-canvas-content-caption
    {
      pre {
        margin: 0;
        padding: 10px;
      }
    }

    .ln-canvas-content
    {
      padding: 12px;
      background-color: #fff;
      border: 1px solid var(--color-gray-200);
      
    }    
  }

}