@use 'index';

* {
  box-sizing: border-box;
  outline: none;
  caret-color: var(--color-white);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins-Regular', 'Fira Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);
}

p {
  display: block;
  cursor: default;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
  user-select: none;
  height: auto;
  padding: 0;
  width: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: none; 
  font-weight: 500;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-secondary); 
    text-decoration: none; 
  }

  &:active {
    color: var(--color-secondary);
  }

  &:visited {
    color: var(--color-secondary);
  }

  &:focus {
    outline: none;
  }
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  padding: 0;
  margin: 0;
  width: 100%;
}

h1 { font-size: 20px;}
h2 { font-size: 18px;}
h3 { font-size: 16px;}
h4 { font-size: var(--h4);}
h5 { font-size: var(--h5);}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='text'] {
  outline: none !important;
  outline-offset: inherit !important;
  &:focus {
    outline: none !important;
    outline-offset: inherit !important;
  }
}

.table-standard {
  overflow: auto;
  width: 100%;
}

.table-standard table {
  border: 1px solid var(--color-gray-500);
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table-standard caption {
  caption-side: top;
  text-align: left;
}

.table-standard th {
  //border: 1px solid var(--color-gray-500);
  background-color: var(--color-gray-050);
  color: var(--color-black);
  padding: 10px;
  height: 60px;
  line-height: 36px;
  &:first-child {
    width: 50%;
  }
  &:last-child {
    width: 50%;
  }
}

.table-standard td {
  //border: 1px solid var(--color-gray-500);
  background-color: #fff;
  color: var(--color-black);
  margin: 0;
  padding: 12px;
  height: auto;
  &:last-child {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center ;
  }  
}
