@use 'index';

body {
  padding: 0;
  margin: 0;
}

p {
  display: block;
  cursor: default;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
  user-select: none;
  height: auto;
  padding: 0;
  width: 100%;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 20px;
  text-align: center;

  &:first-child {
    text-align: left;
    max-width: 50%;
    width: 30%;
  }
}

hr {
  margin: 21px 0;
}


