@use 'index';

body {
  padding: 0;
  margin: 0;
  color: var(--color-black);
}

p {
  display: block;
  cursor: default;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
  user-select: none;
  height: auto;
  padding: 0;
  width: 100%;

  &:hover {
    color: var(--color-black);
  }
}

.table-standard {
  overflow: auto;
  width: 100%;
}

.table-standard table {
  border: 1px solid var(--color-gray-200);
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table-standard caption {
  caption-side: top;
  text-align: left;
}

.table-standard th {
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-gray-100);
  color: var(--color-black);
  padding: 10px;
  height: 60px;
  &:first-child {
    width: 50%;
  }
  &:last-child {
    width: 50%;
  }
}

.table-standard td {
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 10px;
  height: 60px;
  &:first-child {
    width: 45%;
  }  
  &:last-child {
    //width: 55%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
}
